<div class="chatRow">
    <assistant-chat *ngIf="chatRow.messages[chatRow.activeIndex].role == ChatRole.Assistant" [chatMessage]="chatRow.messages[chatRow.activeIndex]"
        (reloadResponseToMessage)="reloadResponseToMessage.emit($event)" (refreshMessages)="refreshMessages.emit()"
        [backgroundColor]="settings.assistantChatColor"></assistant-chat>
    <system-chat *ngIf="chatRow.messages[chatRow.activeIndex].role == ChatRole.System" [chatMessage]="chatRow.messages[chatRow.activeIndex]" 
        (reloadResponseToMessage)="reloadResponseToMessage.emit($event)" (triggerAI)="triggerAI.emit()" (refreshMessages)="refreshMessages.emit()"
        [backgroundColor]="settings.systemChatColor"></system-chat>
    <user-chat *ngIf="chatRow.messages[chatRow.activeIndex].role == ChatRole.User" [chatMessage]="chatRow.messages[chatRow.activeIndex]"
        (reloadResponseToMessage)="reloadResponseToMessage.emit($event)" (triggerAI)="triggerAI.emit()" (refreshMessages)="refreshMessages.emit()"
        [backgroundColor]="settings.userChatColor"></user-chat>
    <div class="chatBottom">
        <img #image *ngIf="imageUrl" />
        <small *ngIf="chatRow.messages.length > 1" [ngClass]="chatRow.messages[chatRow.activeIndex].role == ChatRole.User? 'alignRight':'alignLeft'"><a role="button" (click)="prevMessage()" *ngIf="chatRow.activeIndex != 0"><</a> {{chatRow.activeIndex +1}} of {{chatRow.messages.length}} <a role="button" (click)="nextMessage()" *ngIf="chatRow.activeIndex != chatRow.messages.length-1">></a></small>
    </div>
</div>