.toggleSideChat {
    position: fixed;
    left: 0;
    top: 70px;
    color: white;
}
.floating-button {
    color: white;
    display: inline-block;
    background-color: #54b4d300;
    box-shadow: 0 4px 9px -4px #54b4d300;
}
.chatName {
    display: inline-block;
    width: -webkit-fill-available;
    text-align: center;
}
.rowsContainer {
    overflow-y: scroll;
    scrollbar-width: thin;
    flex-grow: 1;
}
.chatContainerContainer {
    position: absolute;
    top: 3.5rem;
    bottom: 0;
    left: 0;
    right: 0;
}
.chatContainer {
    display: flex;
    flex-flow: column;
    height: 100%;
}
.title-container {
    display: flex;
}
.inputArea {
    /* width: 100%;
    padding-right: var(--mdb-gutter-x, 0.75rem);
    padding-left: var(--mdb-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto; */
    /* position: fixed;
    bottom: 2rem; */
    margin-bottom: 1rem;
    /* height: 6rem; */
    /* left: 0; */
    width: 100%;
}

.editTextArea {
    resize: vertical;
    overflow: hidden;
    background: #0000;
    color: white;
    margin: 1.25rem 1.25rem;
    border: none;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: -webkit-fill-available;
    /* font-family: var(--mdb-font-roboto);
    line-height: 1.6; */
}

.summary {
    white-space:pre-wrap;
}

.inputTextArea {
    padding-right: 3rem;
}

.chatSendButton {
    position: absolute;
    right: 0.5rem;
    bottom: 1em;
}

.chatImageButton {
    position: absolute;
    right: 0.5rem;
    bottom: 5em;
}

::-webkit-scrollbar {
    width: 9px;
}
::-webkit-scrollbar-track {
    background: transparent;   
}
::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
}