.card {
    min-width: 90%;
    display: inline-block;
    margin-bottom: 0 !important;
}
.floating-button {
    color: white;
    background-color: #54b4d300;
    box-shadow: 0 4px 9px -4px #54b4d300;
    /* float: left; */
    display: inline-block;
}
.buttonContainer {
    /* width: -webkit-fill-available; */
    margin-top: auto;
    display: inline-block;
    flex-grow: 1;
}
textarea {
    resize: vertical;
    overflow: hidden;
    background: #0000;
    color: white;
    margin: 1.25rem 1.25rem;
    border: none;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: -webkit-fill-available;
    /* font-family: var(--mdb-font-roboto);
    line-height: 1.6; */
}
.cardContainer {
    display: flex;
}

.message-text {
    white-space:pre-wrap;
}