<navbar></navbar>
<hr>
Use Name: 
<input type="checkbox" [(ngModel)]="useName" />
&nbsp;(If selected, all AI message generation will include a short system message telling the AI your name)
<hr>
<ng-container *ngIf="useName">
    First Name: 
    <input type="text" [(ngModel)]="firstName" />
    Last Name: 
    <input type="text" [(ngModel)]="lastName" />
    <hr>
</ng-container>
<a href="https://platform.openai.com/account/api-keys" target="_blank">OpenAI API key</a>: 
<input type="text" [(ngModel)]="openAiApiKey" />
<button type="button" class="btn btn-info px-3 me-2"
	[mdbPopover]="helpDescription">
	Help
</button>
<ng-template #helpTitle>How to find your API key</ng-template>
<ng-template #helpDescription>How to find your API key<hr/>Navigate to <a href="https://platform.openai.com/account/api-keys" target="_blank">https://platform.openai.com/account/api-keys</a> then click "Create new secret key", then copy it and paste it here!</ng-template>
<hr>
<h5>Image Generation Size:</h5>
<div class="form-check">
    <input mdbRadio class="form-check-input" type="radio" name="imageSizeRadio" id="imageSizeRadio1" [(ngModel)]="imageSize" [value]="0"/>
    <label class="form-check-label" for="imageSizeRadio1"> Small </label>
</div>
<div class="form-check">
    <input mdbRadio class="form-check-input" type="radio" name="imageSizeRadio" id="imageSizeRadio2" [(ngModel)]="imageSize" [value]="1"/>
    <label class="form-check-label" for="imageSizeRadio2"> Medium </label>
</div>
<div class="form-check">
    <input mdbRadio class="form-check-input" type="radio" name="imageSizeRadio" id="imageSizeRadio3" [(ngModel)]="imageSize" [value]="2"/>
    <label class="form-check-label" for="imageSizeRadio3"> Large </label>
</div>
<hr>
<h5>User Chat Color:</h5>
<input [(colorPicker)]="userChatColor" [style.background]="userChatColor"/>
<h5>Assistant Chat Color:</h5>
<input [(colorPicker)]="assistantChatColor" [style.background]="assistantChatColor"/>
<h5>System Chat Color:</h5>
<input [(colorPicker)]="systemChatColor" [style.background]="systemChatColor"/>
<hr>
<h3>Summary/Memory Generation Prompts</h3>
<p>These are the prompts used by the summarization and context memory functions to produce summaries, contexts, memories, select relevant keywords, etc. for the purpose of compressing a large conversation into 4096 tokens that can be fed into the API.  These prompts are used in conjunction with either recent messages or specific text to be fed into a seperate AI API call to produce the desired output.  These start out with default values that I've prompt engineered to be good enough, but honestly the outputs from these commands kind of suck sometimes, so if you have a desire to take up some prompt engineering of your own, tweak with these text fields, or even completely rewrite them, until you get a better outputs for summaries, memories, keyword selections, etc.</p>
<h5>Basic Summary Instruction Text</h5>
<div class="card text-white bg-info mb-3">
    <textarea matInput
        [(ngModel)]="basicSummaryInstructionText"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="100"></textarea>
</div>
<br>
<br>
<h5>Repeated Summary Instruction Text</h5>
<div class="card text-white bg-info mb-3">
    <textarea matInput
        [(ngModel)]="repeatedSummaryInstructionText"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="100"></textarea>
</div>
<br>
<br>
<h5>Shorten Summary Instruction Text</h5>
<div class="card text-white bg-info mb-3">
    <textarea matInput
        [(ngModel)]="shortenSummaryInstructionText"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="100"></textarea>
</div>
<br>
<br>
<h5>Basic Context Instruction Text</h5>
<div class="card text-white bg-info mb-3">
    <textarea matInput
        [(ngModel)]="basicContextInstructionText"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="100"></textarea>
</div>
<br>
<br>
<h5>Repeated Context Instruction Text</h5>
<div class="card text-white bg-info mb-3">
    <textarea matInput
        [(ngModel)]="repeatedContextInstructionText"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="100"></textarea>
</div>
<br>
<br>
<h5>Memory Instruction Text</h5>
<div class="card text-white bg-info mb-3">
    <textarea matInput
        [(ngModel)]="memoryInstructionText"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="100"></textarea>
</div>
<br>
<br>
<h5>Select Keywords Instruction Text</h5>
<div class="card text-white bg-info mb-3">
    <textarea matInput
        [(ngModel)]="selectKeywordsInstructionText"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="100"></textarea>
</div>
<hr>
<button type="button" class="btn btn-primary px-3 me-2" (click)="saveSettings()">
	Save Settings
</button>
<hr>
